/* VARIABLES */

:root {
    /*FONTS*/
    --title-font: 'Source Sans Pro';
    --text-font: 'Quicksand';

    /*COLORS*/
    --main-orange: rgb(206, 116, 14);
    --main-orange-darker: #a8600d;
    --background-blue: #2d3457;
    --foreground-blue: #1a1a35;
}

/* BASE STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    min-width: 320px;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    min-height: 100vh;

    background-color: var(--background-blue);
}

/* GENERAL CLASSES */

.button {
    padding: 3px 10px;
    border-radius: 3px;
    background-color: var(--background-blue);
    color: rgb(211, 211, 211);
    border: none;
    transition-property: background-color;
    transition-duration: 0.1s;
    font-family: var(--text-font);
}

.button--small {
    font-size: 1rem;
}

.button--modify_item {
    background-color: rgba(52, 90, 65, 0.548);
}

.button--erase_item {
    background-color: rgba(102, 63, 71, 0.493);
}

.button:hover {
    background-color: rgb(35, 41, 68);
}

/* HEADER STYLES */

.header {
    width: 100%;
    background-color: var(--foreground-blue);
    background: rgb(26,26,53);
    background: linear-gradient(0deg, rgba(26,26,53,1) 0%, rgba(0,0,0,1) 100%);
    padding-top: 10px;
}

.title {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 15px;
    padding-left: 15px;
    width: 100%;
    font-family: var(--title-font);
    color: rgb(211, 211, 211);
    
}

.app_description {
    font-size: 1.2rem;
    text-align: justify;
    width: 95%;
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
    color: rgb(211, 211, 211);
    font-family: var(--text-font);
}

/* MAIN STYLES */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    padding: 15px;

    background-color: var(--foreground-blue);
    background: rgb(45,52,87);
    background: linear-gradient(0deg, rgba(45,52,87,1) 0%, rgba(26,26,53,1) 100%);
    
}

.add_product__label {
    width: 40%;
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 10px;
    font-family: var(--text-font);
    color: rgb(60, 167, 175);
}

.add_product__input {
    width: 60%;
    justify-self: flex-start;
    margin-bottom: 10px;
    outline: none;
    padding: 0 10px;
    border: none;
    border-bottom: var(--background-blue) solid 2px;
    background-color: rgba(0, 0, 255, 0);
    font-size: 1.2rem;
    color: rgb(211, 211, 211);
}

.button--add_product {
    margin-top: 10px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    padding: 13px 0 10px 0;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgba(99, 99, 99, 0.212);
}

.actions > input {
    margin: 5px 0px;
}

.currency_list {
    background-color: rgba(99, 99, 99, 0.212);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    caret-color: transparent;
    color: rgb(211, 211, 211);
    font-family: var(--text-font);
    min-width: 180px;
}

.list_status {
    display: flex;
    justify-content: space-between;
    width: 95%;

    background-color: rgba(99, 99, 99, 0.212);
}

.list_status__total{
    color: rgb(211, 211, 211);
    font-family: var(--text-font);
    font-size: 1.4rem;
    margin-left: 20px;
}

.list_status__number{
    color: rgb(211, 211, 211);
    font-family: var(--text-font);
    font-size: 1.4rem;
    margin-right: 40px;
}

.list_status__total--span{
    font-weight: 700;
}

.list_status__number--span{
    font-weight: 700;
}

.product_list {
    display: flex;
    flex-direction: column;
    min-height: 50vh;

    width: 95%;
    height: 100%;
    padding: 0px 5px 5px 5px;

    background-color: rgba(99, 99, 99, 0.212);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px;
    margin: 3px 0;
    
    color: rgb(211, 211, 211);
    background: rgb(45,52,87);
    background: linear-gradient(90deg, rgba(45,52,87,0) 0%, rgba(26,26,53,1) 100%);
    border-radius: 3px;
}

.item_description {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
}

.item_description__li {
    list-style-type: none;
    margin: 3px 5px;
    padding: 3px 10px;
    background-color: rgba(45, 52, 87, 0.603);
    border-radius: 2px;
    font-family: var(--text-font);
    font-weight: 700;
}

/* FOOTER STYLES */

footer {
    /* DISPLAY AND POSITION */
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    /* DIMENSIONS */
    width: 100%;
    height: 80px;
    margin-top: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: var(--foreground-blue);
    font-weight: bold;
    color: white;
    font-family: var(--text-font);
    
}

.copyright {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: center;
}

.copyright__line-1 {
    display: flex;
    align-items: center;
}

.copyright span {
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
}

.copyright span:first-child {
    font-size: 1.6rem;
}

.social_media__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.social_media__link:hover {
    text-decoration: underline;
}


/******************************************************/
/* MEDIA QUERIES */
/******************************************************/


/* TABLET */
@media (min-width: 760px) {
    body {
        background-image: url('https://i.pinimg.com/originals/5f/fa/d2/5ffad2de424197e7894a3bcc54ed5587.jpg');
        backdrop-filter: opacity(0.7) blur(10px) grayscale(100%);
        background-color: var(--foreground-blue);
    }
    .title{
        font-size: 3rem;
    }
    .header {
        width: 73%;
        border-left: black solid 3px;
        border-right: black solid 3px;
    }
    .main {
        background-color: var(--background-blue);
        width: 73%;
        padding-bottom: 20px;
        border-left: black solid 3px;
        border-right: black solid 3px;
        height: 100vh;

    }
    .footer {
        margin-top: 0px;
        width: 73%;
        border-left: black solid 3px;
        border-right: black solid 3px;
    }
    .add_product__label {
        text-align: center;
    }
    .add_product__input {
        font-size: 1.4rem;
        padding-bottom: 0px;
        width: 50%;
    }
    .item_description__li {
        font-size: 1.3rem;
    }
    .button {
        font-size: 1.6rem;
    }
    .button--small {
        font-size: 1.4rem;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .title{
        font-size: 4rem;
    }
    .header {
        width: 65%;
    }
    .main {
        width: 65%;
    }
    .list_status {
        padding: 15px 15px 0px 15px;
    }
    .product_list {
        padding-top: 20px;
    }
    .add_product__input {
        font-size: 1.4rem;
    }
    .footer {
        flex-direction: row;
        justify-content: space-around;
        width: 65%;
    }
    .social_media__link {
        font-size: 1.6rem;
    }
    .copyright span:first-child {
        font-size: 2rem;
    }
    .copyright span {
        font-size: 1.6rem;
    }
}

/* BIG DESKTOP */
@media (min-width: 1360px) {
    .title{
        font-size: 5rem;
    }
    .app_description {
        font-size: 1.8rem;
    }
    .header {
        width: 65%;
    }
    .main {
        width: 65%;
    }
    .footer {
        width: 65%;
    }
    .list_status {
        padding: 15px 100px 0px 100px;
    }
    .add_product__label {
        font-size: 2rem;
    }
    .add_product__input {
        font-size: 2rem;
        margin-right: 50px;
    }
    .item_description__li {
        font-size: 1.6rem;
    }
}